@mixin transitionSettings($sec) {
    transition: $sec ease-in-out;
            -moz-transition: $sec ease-in-out;
            -ms-transition: $sec ease-in-out;
            -o-transition: $sec ease-in-out;
}

nav {
    position: relative;
    margin: 10px 0 10px 10px;

    // header
    #header {
        text-transform: uppercase;
        width: 40%;
        text-align: center;
        @include transitionSettings(0.25s);

        #icon {
            width: 10%;
            display: inline-block;
        }

        h1 {
            display: inline-block;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 10px black;
            border-radius: 5px;
        }
    }

    // search
    #search {
        position: absolute;
        margin: 0 10px;
        transform: translateY(-50%);
        top: 50%;
        right: 0;

        input[type='text'] {
            padding: 5px 10px 5px 10px;
            border: 1px solid black;
            border-radius: 5px;
            width: 250px;
            @include transitionSettings(0.5s);

            &:focus {
                box-shadow: 2px 2px 10px black;
                outline: none;
            }
        }

        #searchIcon {
            text-align: center;
            background: white;
            padding: 7px;
            border-radius: 5px;
            @include transitionSettings(0.5s);

            &:hover {
                background: black;
                color: bisque;
                box-shadow: 2px 2px 10px black;
            }
        }
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
    font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
    font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
    font-style: italic;
}