$bg-color: black;
$border-color:  #dee2e6;

@mixin displayProperties($w, $h, $bg) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: $w;
    height: $h;
    background-color: $bg;
}

@mixin transitionSettings($sec) {
    transition: $sec ease-in-out !important;
            -moz-transition: $sec ease-in-out !important;
            -ms-transition: $sec ease-in-out !important;
            -o-transition: $sec ease-in-out !important;
}

#plant_detail_wrapper {
    @include displayProperties(100%, 100vh, rgba(0, 0, 0, 0.39));
    background-size: cover;
    z-index: 1;

    #plant_detail {
        @include displayProperties(75%, 90%, $bg-color);
        text-align: center;
        transform: translate(15%, 6%);
        color: snow;
        overflow: hidden;

        .plant_detail_img_container {
            position: absolute;
            width: 50%;
            margin: 0;
            left: 0;
            z-index: 3;
            @include transitionSettings(1s);

            .plant_detail_img {
                width: 100%;
            }
        }

        #table_wrapper {
            width: 50%;
            max-height: 100%;
            float: right;
            clear: both;
            background-color: $bg-color;
            overflow-y: scroll;
            z-index: 3;
            @include transitionSettings(1s);

            #table {
                position: relative;
                border-collapse: collapse;
                border-spacing: 2px;
                width: 100%;
                color: $bg-color;
                border: 2px solid $border-color;
        
                thead {
                    color:rgb(231, 230, 230);

                    th {
                        vertical-align: bottom;
                        border-bottom: 2px solid $border-color;
                        padding: 0.75rem;
                        text-align: inherit;
                    }
                }

                tbody {

                    .td_body {
                        color: rgba(231, 230, 230, 0.534);
                        border: 2px solid $border-color;
                        padding: 0.75rem;
                        vertical-align: top;
                    }
                }
            }
        }

        #recipe_wrapper {
            position: absolute;
            width: 100%;
            max-height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            @include transitionSettings(1s);

            h4 {
                margin: 10px 0;
            }

            .recipe_nav_buttons {
                display: inline-block;
                justify-content: space-between;
                background: rgb(32, 31, 31);
                color: $border-color;
                padding: 15px;
                margin: 25px;
                border-radius: 10px;
                font-size: 15px;
                @include transitionSettings(0.25s);

                &:hover {
                    background: $border-color;
                    color: rgb(32, 31, 31);
                }
            }

            #navigatingIndex {
                background: $bg-color;
                color: $border-color;
            }

            .recipe_detail_img_container {
                display: none;
                position: relative;
                transform: translateX(50%);
                width: 50%;
                @include transitionSettings(1s);
    
                .recipe_detail_img {
                    width: 100%;
                    border-radius: 5px;
                }
            }

            #nutrientsChart {
                @include transitionSettings(1s);
            }
        }
    }

    #game_entry {
        @extend #plant_detail;
        @include transitionSettings(1s);
        text-align: center;

        h2 {
            margin-top: 10px;
        }
        
        #entry_info {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            width: 100%;
            height: 60%;
            background-color: rgba(106, 209, 106, 0.644);

            #user_icon_wrapper {
                position: relative;
                width: 100%;
                height: 40%;
                margin: 25px 0;
    
                #user_icon {
                    width: 15%;
                    border-radius: 50%;
                }
            }

            input[type='text'] {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                margin: 25px 0;
                padding: 5px 10px 5px 10px;
                border: 1px solid black;
                border-radius: 5px;
            }
        }

        #start_game_button {
            position: absolute;
            bottom: 0;
            transform: translateX(-50%);
            left: 50%;
            padding: 10px;
            background-color: lightyellow;
            color: rgb(32, 32, 32);
            border-radius: 5px;
            cursor: pointer;
            @include transitionSettings(0.25s);

            &:hover {
                background-color: rgb(56, 134, 56);
            }
        }

        // in-game imgs
        .ingame_plant_image {
            position: absolute;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            box-shadow: 2px 2px 10px snow;
        }
    }
}

/* width of the entire scrollbar */
#table_wrapper::-webkit-scrollbar,
#recipe_wrapper::-webkit-scrollbar { /* Chrome/Opera/Safari */
    width: 5px;
}
#table_wrapper::-moz-scrollbar,
#recipe_wrapper::-webkit-scrollbar { /* Firefox 19+ */
    width: 5px;
}

/* color of the tracking area */
#table_wrapper::-webkit-scrollbar-track,
#recipe_wrapper::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #e9f16cf1;
}
#table_wrapper::-moz-scrollbar-track,
#recipe_wrapper::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #e9f16cf1;
}

/* scrollbar thumb */
#table_wrapper::-webkit-scrollbar-thumb,
#recipe_wrapper::-webkit-scrollbar-thumb {
    background-color: $bg-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}
#table_wrapper::-moz-scrollbar-thumb,
#recipe_wrapper::-webkit-scrollbar-thumb {
    background-color: $bg-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}