$bg-color: black;
$border-color:  #dee2e6;

@mixin displayProperties($w, $h, $bg) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: $w;
    height: $h;
    background-color: $bg;
}

@mixin transitionSettings() {
    transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -ms-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
}

#plant_detail_wrapper {
    @include displayProperties(100%, 100vh, rgba(0, 0, 0, 0.39));
    background-size: cover;

    #plant_detail {
        @include displayProperties(75%, 90%, $bg-color);
        text-align: center;
        transform: translate(15%, 6%);
        color: snow;
        overflow: hidden;

        .plant_detail_img_container {
            position: absolute;
            width: 50%;
            margin: 0;
            @include transitionSettings();

            .plant_detail_img {
                width: 100%;
            }
        }

        .plant_detail_info {
            padding-top: 20px;
            width: 50%;
            float: right;
            clear: both;
        }

        #table_wrapper {
            width: 50%;
            max-height: 100%;
            float: right;
            clear: both;
            background-color: $bg-color;
            overflow-y: scroll;
            @include transitionSettings();

            #table {
                position: relative;
                border-collapse: collapse;
                border-spacing: 2px;
                width: 100%;
                color: $bg-color;
                border: 2px solid $border-color;
        
                thead {
                    color:rgb(231, 230, 230);

                    th {
                        vertical-align: bottom;
                        border-bottom: 2px solid $border-color;
                        padding: 0.75rem;
                        text-align: inherit;
                    }
                }

                tbody {

                    .td_body {
                        color: rgba(231, 230, 230, 0.534);
                        border: 2px solid $border-color;
                        padding: 0.75rem;
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

/* width of the entire scrollbar */
#table_wrapper::-webkit-scrollbar { /* Chrome/Opera/Safari */
    width: 5px;
}
#table_wrapper::-moz-scrollbar { /* Firefox 19+ */
    width: 5px;
}

/* color of the tracking area */
#table_wrapper::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #e9f16cf1;
}
#table_wrapper::-moz-scrollbar-track {
    border-radius: 20px;
    background: #e9f16cf1;
}

/* scrollbar thumb */
#table_wrapper::-webkit-scrollbar-thumb {
    background-color: $bg-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}
#table_wrapper::-moz-scrollbar-thumb {
    background-color: $bg-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}