@import 'style_components/plant_detail';
@import 'style_components/windowProperties';
@import 'style_components/page_section';
@import 'style_components/nav';
@import 'style_components/loading';
@import 'style_components/mobile/nav';
@import 'style_components/mobile/plant_detail';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-image: linear-gradient(to right, rgb(97, 150, 107), rgb(54, 141, 66));
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-size: 18px;

    #guess_game_button {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: rgba(39, 180, 39, 0.651);
        color: snow;
        padding: 10px;
        cursor: pointer;
        @include transitionSettings(0.25s);

        &:hover {
            color: rgb(31, 32, 31);
        }
    }
}

// media query
@media only screen and (max-width: 765px) {
    
    html {
      font-size: 2vw;
    }
}

/* width of the entire scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar { /* Chrome/Opera/Safari */
    width: 5px;
}
::-moz-scrollbar,
::-webkit-scrollbar { /* Firefox 19+ */
    width: 5px;
}

/* color of the tracking area */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #e9f16cf1;
}
::-moz-scrollbar-track,
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #e9f16cf1;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: $bg-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}
::-moz-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: $bg-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}