#plant_detail_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.39);
  background-size: cover;
  z-index: 1;
}

#plant_detail_wrapper #plant_detail, #plant_detail_wrapper #game_entry {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  height: 90%;
  background-color: black;
  text-align: center;
  -webkit-transform: translate(15%, 6%);
          transform: translate(15%, 6%);
  color: snow;
  overflow: hidden;
}

#plant_detail_wrapper #plant_detail .plant_detail_img_container, #plant_detail_wrapper #game_entry .plant_detail_img_container {
  position: absolute;
  width: 50%;
  margin: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: 1s ease-in-out !important;
  transition: 1s ease-in-out !important;
  -moz-transition: 1s ease-in-out !important;
  -ms-transition: 1s ease-in-out !important;
  -o-transition: 1s ease-in-out !important;
}

#plant_detail_wrapper #plant_detail .plant_detail_img_container .plant_detail_img, #plant_detail_wrapper #game_entry .plant_detail_img_container .plant_detail_img {
  width: 100%;
}

#plant_detail_wrapper #plant_detail #table_wrapper, #plant_detail_wrapper #game_entry #table_wrapper {
  width: 50%;
  max-height: 100%;
  float: right;
  clear: both;
  background-color: black;
  overflow-y: scroll;
  z-index: 3;
  -webkit-transition: 1s ease-in-out !important;
  transition: 1s ease-in-out !important;
  -moz-transition: 1s ease-in-out !important;
  -ms-transition: 1s ease-in-out !important;
  -o-transition: 1s ease-in-out !important;
}

#plant_detail_wrapper #plant_detail #table_wrapper #table, #plant_detail_wrapper #game_entry #table_wrapper #table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
  color: black;
  border: 2px solid #dee2e6;
}

#plant_detail_wrapper #plant_detail #table_wrapper #table thead, #plant_detail_wrapper #game_entry #table_wrapper #table thead {
  color: #e7e6e6;
}

#plant_detail_wrapper #plant_detail #table_wrapper #table thead th, #plant_detail_wrapper #game_entry #table_wrapper #table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 0.75rem;
  text-align: inherit;
}

#plant_detail_wrapper #plant_detail #table_wrapper #table tbody .td_body, #plant_detail_wrapper #game_entry #table_wrapper #table tbody .td_body {
  color: rgba(231, 230, 230, 0.534);
  border: 2px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
}

#plant_detail_wrapper #plant_detail #recipe_wrapper, #plant_detail_wrapper #game_entry #recipe_wrapper {
  position: absolute;
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: 1s ease-in-out !important;
  transition: 1s ease-in-out !important;
  -moz-transition: 1s ease-in-out !important;
  -ms-transition: 1s ease-in-out !important;
  -o-transition: 1s ease-in-out !important;
}

#plant_detail_wrapper #plant_detail #recipe_wrapper h4, #plant_detail_wrapper #game_entry #recipe_wrapper h4 {
  margin: 10px 0;
}

#plant_detail_wrapper #plant_detail #recipe_wrapper .recipe_nav_buttons, #plant_detail_wrapper #game_entry #recipe_wrapper .recipe_nav_buttons {
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #201f1f;
  color: #dee2e6;
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
  font-size: 15px;
  -webkit-transition: 0.25s ease-in-out !important;
  transition: 0.25s ease-in-out !important;
  -moz-transition: 0.25s ease-in-out !important;
  -ms-transition: 0.25s ease-in-out !important;
  -o-transition: 0.25s ease-in-out !important;
}

#plant_detail_wrapper #plant_detail #recipe_wrapper .recipe_nav_buttons:hover, #plant_detail_wrapper #game_entry #recipe_wrapper .recipe_nav_buttons:hover {
  background: #dee2e6;
  color: #201f1f;
}

#plant_detail_wrapper #plant_detail #recipe_wrapper #navigatingIndex, #plant_detail_wrapper #game_entry #recipe_wrapper #navigatingIndex {
  background: black;
  color: #dee2e6;
}

#plant_detail_wrapper #plant_detail #recipe_wrapper .recipe_detail_img_container, #plant_detail_wrapper #game_entry #recipe_wrapper .recipe_detail_img_container {
  display: none;
  position: relative;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 50%;
  -webkit-transition: 1s ease-in-out !important;
  transition: 1s ease-in-out !important;
  -moz-transition: 1s ease-in-out !important;
  -ms-transition: 1s ease-in-out !important;
  -o-transition: 1s ease-in-out !important;
}

#plant_detail_wrapper #plant_detail #recipe_wrapper .recipe_detail_img_container .recipe_detail_img, #plant_detail_wrapper #game_entry #recipe_wrapper .recipe_detail_img_container .recipe_detail_img {
  width: 100%;
  border-radius: 5px;
}

#plant_detail_wrapper #plant_detail #recipe_wrapper #nutrientsChart, #plant_detail_wrapper #game_entry #recipe_wrapper #nutrientsChart {
  -webkit-transition: 1s ease-in-out !important;
  transition: 1s ease-in-out !important;
  -moz-transition: 1s ease-in-out !important;
  -ms-transition: 1s ease-in-out !important;
  -o-transition: 1s ease-in-out !important;
}

#plant_detail_wrapper #game_entry {
  -webkit-transition: 1s ease-in-out !important;
  transition: 1s ease-in-out !important;
  -moz-transition: 1s ease-in-out !important;
  -ms-transition: 1s ease-in-out !important;
  -o-transition: 1s ease-in-out !important;
  text-align: center;
}

#plant_detail_wrapper #game_entry h2 {
  margin-top: 10px;
}

#plant_detail_wrapper #game_entry #entry_info {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 100%;
  height: 60%;
  background-color: rgba(106, 209, 106, 0.644);
}

#plant_detail_wrapper #game_entry #entry_info #user_icon_wrapper {
  position: relative;
  width: 100%;
  height: 40%;
  margin: 25px 0;
}

#plant_detail_wrapper #game_entry #entry_info #user_icon_wrapper #user_icon {
  width: 15%;
  border-radius: 50%;
}

#plant_detail_wrapper #game_entry #entry_info input[type='text'] {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 25px 0;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

#plant_detail_wrapper #game_entry #start_game_button {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  padding: 10px;
  background-color: lightyellow;
  color: #202020;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out !important;
  transition: 0.25s ease-in-out !important;
  -moz-transition: 0.25s ease-in-out !important;
  -ms-transition: 0.25s ease-in-out !important;
  -o-transition: 0.25s ease-in-out !important;
}

#plant_detail_wrapper #game_entry #start_game_button:hover {
  background-color: #388638;
}

#plant_detail_wrapper #game_entry .ingame_plant_image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px snow;
          box-shadow: 2px 2px 10px snow;
}

/* width of the entire scrollbar */
#table_wrapper::-webkit-scrollbar,
#recipe_wrapper::-webkit-scrollbar {
  /* Chrome/Opera/Safari */
  width: 5px;
}

#table_wrapper::-moz-scrollbar,
#recipe_wrapper::-webkit-scrollbar {
  /* Firefox 19+ */
  width: 5px;
}

/* color of the tracking area */
#table_wrapper::-webkit-scrollbar-track,
#recipe_wrapper::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #e9f16cf1;
}

#table_wrapper::-moz-scrollbar-track,
#recipe_wrapper::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #e9f16cf1;
}

/* scrollbar thumb */
#table_wrapper::-webkit-scrollbar-thumb,
#recipe_wrapper::-webkit-scrollbar-thumb {
  background-color: black;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #292727;
  /* creates padding around scroll thumb */
}

#table_wrapper::-moz-scrollbar-thumb,
#recipe_wrapper::-webkit-scrollbar-thumb {
  background-color: black;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid #292727;
  /* creates padding around scroll thumb */
}

#windowProperties {
  position: relative;
  background: rgba(219, 224, 219, 0.1);
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
  text-align: center;
  margin: 10px 0;
  z-index: 0;
}

#windowProperties .wrapper {
  display: inline-block;
  border: 1px dashed rgba(51, 49, 49, 0.801);
  margin: 20px 10px;
  padding: 10px;
  width: 15%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
}

#windowProperties .wrapper .plant_names {
  bottom: 0;
  left: 0;
  margin-top: 10px;
  border: none;
  text-align: center;
  color: black;
}

#windowProperties .wrapper .plant_imgs {
  top: 0;
  left: 0;
}

#windowProperties .wrapper img {
  width: 100%;
}

#windowProperties .wrapper:hover {
  border: 2px dashed black;
}

#pages {
  text-align: center;
}

#pages .page_number {
  border: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

#pages .page_number:after {
  content: '';
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 172, 142, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(229, 172, 142, 0)));
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  position: absolute;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

#pages .page_number:hover:after {
  top: 150%;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

#pages .page_number:hover {
  background: black;
  color: snow;
}

nav {
  position: relative;
  margin: 10px 0 10px 10px;
}

nav #header {
  text-transform: uppercase;
  width: 40%;
  text-align: center;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

nav #header #icon {
  width: 10%;
  display: inline-block;
}

nav #header h1 {
  display: inline-block;
}

nav #header:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  border-radius: 5px;
}

nav #search {
  position: absolute;
  margin: 0 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 0;
}

nav #search input[type='text'] {
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

nav #search input[type='text']:focus {
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  outline: none;
}

nav #search #searchIcon {
  text-align: center;
  background: white;
  padding: 7px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

nav #search #searchIcon:hover {
  background: black;
  color: bisque;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  font-style: italic;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  font-style: italic;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 12px;
  font-style: italic;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
  font-style: italic;
}

#loading {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
}

#loading #icon {
  position: relative;
}

#loading #icon img {
  width: 15%;
}

@media only screen and (max-width: 765px) {
  input[type='text'] {
    padding: 0 !important;
  }
  #searchIcon {
    padding: 5px !important;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 2vw;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 2vw;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 2vw;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 2vw;
  }
}

@media only screen and (max-width: 550px) {
  input[type='text'] {
    width: 150px !important;
  }
}

@media only screen and (max-width: 365px) {
  input[type='text'] {
    width: 100px !important;
  }
}

@media only screen and (max-width: 765px) {
  #plant_detail, #plant_detail_wrapper #game_entry {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 75% !important;
    height: 65% !important;
    background-color: black;
    -webkit-transform: translate(15%, 30%) !important;
            transform: translate(15%, 30%) !important;
  }
}

@media only screen and (max-width: 550px) {
  #plant_detail, #plant_detail_wrapper #game_entry {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 75% !important;
    height: 45% !important;
    background-color: black;
    -webkit-transform: translate(15%, 55%) !important;
            transform: translate(15%, 55%) !important;
  }
  .recipe_nav_buttons {
    margin: 10px !important;
    padding: 10px !important;
  }
}

@media only screen and (max-width: 365px) {
  #plant_detail, #plant_detail_wrapper #game_entry {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 90% !important;
    height: 30% !important;
    background-color: black;
    -webkit-transform: translate(6%, 110%) !important;
            transform: translate(6%, 110%) !important;
  }
  #entry_info input[type='text'] {
    margin: 0 !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  background-image: -webkit-gradient(linear, left top, right top, from(#61966b), to(#368d42));
  background-image: linear-gradient(to right, #61966b, #368d42);
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

html #guess_game_button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(39, 180, 39, 0.651);
  color: snow;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

html #guess_game_button:hover {
  color: #1f201f;
}

@media only screen and (max-width: 765px) {
  html {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=styles.css.map */